<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318213283-693fagpvi4vh8sm9rq6epe1367gcu378.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318213283-693fagpvi4vh8sm9rq6epe1367gcu378</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>318213283-aaljmfrdpcsumdkl7b7bund45hnie8vo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoiSgDPYvHiUfE4Py0amq_0OnlInu0Xgc</string>
	<key>GCM_SENDER_ID</key>
	<string>318213283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gr.icuapp</string>
	<key>PROJECT_ID</key>
	<string>icuapp-76470</string>
	<key>STORAGE_BUCKET</key>
	<string>icuapp-76470.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318213283:ios:c4bc78f9ee51af9d918316</string>
</dict>
</plist>